:root {
    --animated-bg-dot: var(--color-slate-500);
    --animated-bg-accent-dot: var(--color-red-400);
}

[data-theme="dark"] {
    --animated-bg-dot: var(--color-slate-500);
    --animated-bg-accent-dot: var(--color-red-400);
}
